version: '3.8'

services:
  prometheus:
    image: bitnami/prometheus:latest
    container_name: prometheus
    volumes:
      - "./prometheus/prometheus.yaml:/opt/bitnami/prometheus/conf/prometheus.yml"
    ports:
      - "9090:9090"

  consul_server_0:
    image: consul:1.14.1
    container_name: server_0
    command: [ "consul", "agent", "-config-dir=/config" ]
    volumes:
      - "./consul_config/server_config_0.hcl:/config/config.hcl"
    ports:
      - "8500:8500"
      - "8600:8600/tcp"
      - "8600:8600/udp"

  igw:
    build: .
    container_name: igw
    command: [ "/bin/install.sh" ]
    volumes:
      - "./install.sh:/bin/install.sh"
      - "./config_entries/proxy-defaults.hcl:/root/proxy-defaults.hcl"
      - "./config_entries/ingress-gateway.hcl:/root/ingress-gateway.hcl"
      - "./config_entries/deny-all-service-intentions.hcl:/root/deny-all-service-intentions.hcl"
      - "./config_entries/backend-service-intentions.hcl:/root/backend-service-intentions.hcl"
      - "./config_entries/frontend-service-intentions.hcl:/root/frontend-service-intentions.hcl"
      - "./consul_config/ingress_gateway.hcl:/config/ingress_gateway.hcl"
      - "./consul_config/ingress_gateway_config.hcl:/config/ingress_gateway_config.hcl"
    ports:
      - "8080:8080"
    environment:
      - SERVICE=igw
      - "ENVOY_ADMIN_BIND_ADDR=0.0.0.0:19000"

  frontend:
    build: .
    container_name: frontend
    command: [ "/bin/install.sh" ]
    volumes:
      - "./install.sh:/bin/install.sh"
      - "./bin/frontend:/bin/frontend"
      - "./consul_config/frontend_config.hcl:/config/frontend_config.hcl"
      - "./consul_config/frontend_service.hcl:/config/frontend_service.hcl"
    environment:
      - SERVICE=frontend
      - "ENVOY_ADMIN_BIND_ADDR=0.0.0.0:19000"
      - "BIND_ADDR=127.0.0.1:8081"
      - "BACKEND_URL=http://localhost:6001"

  backend:
    build: .
    container_name: backend
    command: [ "/bin/install.sh" ]
    volumes:
      - "./install.sh:/bin/install.sh"
      - "./bin/backend:/bin/backend"
      - "./consul_config/backend_config.hcl:/config/backend_config.hcl"
      - "./consul_config/backend_service.hcl:/config/backend_service.hcl"
    environment:
      - SERVICE=backend
      - "ENVOY_ADMIN_BIND_ADDR=0.0.0.0:19000"
      - "BIND_ADDR=127.0.0.1:7080"

