version: '3.8'

services:
  consul_server_0:
    image: consul:1.14.1
    container_name: server_0
    command: [ "consul", "agent", "-config-dir=/config" ]
    volumes:
      - "./consul_config/server_config_0.hcl:/config/config.hcl"
    ports:
      - "8500:8500"
      - "8600:8600/tcp"
      - "8600:8600/udp"

  frontend:
    build: .
    container_name: frontend
    command: [ "/bin/install.sh" ]
    volumes:
      - "./install.sh:/bin/install.sh"
      - "./bin/frontend:/bin/frontend"
      - "./consul_config/frontend_config.hcl:/config/frontend_config.hcl"
      - "./consul_config/frontend_service.hcl:/config/frontend_service.hcl"
    ports:
      - "8080:8080"
    environment:
      - "ENVOY_ADMIN_BIND_ADDR=0.0.0.0:19000"
      - SERVICE=frontend
      - "BIND_ADDR=0.0.0.0:8080"
      - "BACKEND_URL=http://backend:7080"
    depends_on:
      - "backend"
      - "consul_server_0"

  backend:
    build: .
    container_name: backend
    command: [ "/bin/install.sh" ]
    volumes:
      - "./install.sh:/bin/install.sh"
      - "./bin/backend:/bin/backend"
      - "./consul_config/backend_config.hcl:/config/backend_config.hcl"
      - "./consul_config/backend_service.hcl:/config/backend_service.hcl"
    ports:
      - "7080:7080"
    environment:
      - "ENVOY_ADMIN_BIND_ADDR=0.0.0.0:19001"
      - SERVICE=backend
      - "BIND_ADDR=0.0.0.0:7080"
    depends_on:
      - "consul_server_0"

